.newsWrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efedea;
}

.newsBlock {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.imageNews {
  position: relative;
  height: 410px;
  display: flex;
}

.imageNews img {
  width: 100%;
  height: 100%;
}

.textNews {
  position: absolute;
  text-align: justify;
  z-index: 1;
  width: 280px;
  margin-top: 360px;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: .5px;
  background-color: #fff;
}

.textNewsTitle {
  font-size: 30px;
  padding-bottom: 20px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .newsWrapper {
    flex-direction: column;
    height: auto;
  }

  .newsBlock {
    padding: 174px 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .newsWrapper {
    flex-direction: column;
    height: 270vw;
  }

  .imageNews {
    height: 300px;
  }

  .textNews {
    width: 300px;
    margin-top: 245px;
    text-align: center;
    padding: 14px;
  }

  .textNewsTitle {
    font-size: 24px;
  }

  .newsBlock {
    margin-bottom: 200px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .newsWrapper {
    height: auto;
    flex-direction: column;
  }

  .imageNews {
    height: 320px;
    width: 239px;
  }

  .textNews {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 24px;
    width: 229px;
    margin-top: 296px;
  }

  .textNewsTitle {
    font-size: 22px;
    padding: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .imageNews {
    height: 320px;
    width: 239px;
  }

  .textNews {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 24px;
    width: 229px;
    margin-top: 296px;
  }

  .textNewsTitle {
    font-size: 22px;
    padding: 10px 0;
  }
}

@media (min-width: 1201px) and (max-width: 1900px) {
  .imageNews {
    width: 280px;
  }

  .textNews {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 24px;
    width: 229px;
    margin-top: 296px;
  }

  .textNewsTitle {
    font-size: 22px;
    padding: 10px 0;
  }
}