.quantityBlock {
  display: flex;
  align-items: center;
}

.decrButton,
.incrButton {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #b4b4b4;
  cursor: pointer;
  background-color: #fff;
}

.decrButton:hover,
.incrButton:hover {
  background-color: #b4b4b4;
}

.quatityButton {
  border: 1px solid #b4b4b4;
  background-color: #fff;
  border-radius: 50%;
  font-size: 17px;
  height: 38px;
  width: 38px;
  margin: 0 4px;
  padding: 6px;
  text-align: center;
}