#aboutUs {
  height: 50vw;
  display: flex;
}

.aboutUsLeftContainer {
  width: 40%;
  background-color: black;
  position: relative;
}

.aboutUsRightContainer {
  width: 60%;
  background-color: #fff;
  position: relative;
}

.aboutUsImages {
  margin: 200px 0 0 300px;
  width: 32%;
  height: 70%;
  columns: 2 100px;
  position: absolute;
}

.aboutUsImageContainer {
  margin-block-end: 1.5rem;

}

.aboutUsImageContainer img {
  max-width: 100%;
}

.aboutUsText {
  position: absolute;
  width: 26%;
  right: 20%;
  margin-top: 18%;
}

.aboutUsText h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.aboutUsText p {
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 24px;
}