#aboutUs {
  height: 50vw;
  display: flex;
}

.aboutUsImages {
  margin: 50px;
  width: 34%;
  height: 80%;
  border: 1px solid rgb(0, 0, 0);
  columns: 2 100px;
}

.aboutUsImageContainer {
  margin-block-end: 1.5rem;

}

.aboutUsImageContainer img {
  max-width: 100%;
}