* {
  padding: 0;
  margin: 0;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  row-gap: 20px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #efedea;
}

.productWrapper {
  background-color: #fff;
  height: 600px;
  width: 90%;
}

.likeIcon {
  width: 30px;
  margin: 20px;
}

.likeIconButton {
  border: none;
  background-color: transparent;
}

/*Product image*/
.imageWrapper {
  display: flex;
  justify-content: center;
}

.imageWrapper img {
  width: 320px;
}

/*Product text*/
.imageTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productName {
  padding-bottom: 10px;
  font-size: 24px;
}

.productDescription {
  letter-spacing: .5px;
  line-height: 25px;
  padding: 0 10px;
  width: 80%;
  color: #767676;
  text-align: center;
  font-size: 14px;
}

.productPrice {
  padding-top: 10px;
  font-size: large;
}

/*Product buttons*/
.productAddButton,
.productQuantityButton {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*
grid-template-columns: repeat(auto-fill, min-max(190px, 1fr))
*/

@media (max-width: 576px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1800px) {
  .productContainer {
    grid-template-columns: repeat(3, 500px);
  }
}