#aboutUs {
  height: 50vw;
  display: flex;
  margin-top: 50px;
}

.AboutUs__Left {
  width: 40%;
  background-color: #efedea;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AboutUs__Right {
  width: 60%;
  background-color: #fff;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsImages {
  width: 75%;
  columns: 2 100px;
  margin-right: -15%;
  margin-top: 1.5rem;
  z-index: 1;
}

.aboutUsImageContainer {
  margin-block-end: 1.5rem;
}

.aboutUsImageContainer img {
  width: 100%;
}

.aboutUsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.aboutUsText h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.aboutUsText p {
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 24px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  #aboutUs {
    height: auto;
    flex-direction: column;
  }

  .AboutUs__Left {
    width: 100%;
    justify-content: center;
  }

  .AboutUs__Right {
    width: 100%;
  }

  .aboutUsImages {
    margin-right: 0;
  }

  .aboutUsText {
    width: 100%;
    padding: 20px;
  }

  .aboutUsText h1 {
    font-size: 12px;
  }

  .aboutUsText p {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .AboutUs__Left {
    justify-content: center;
  }

  .aboutUsImages {
    columns: 2 75px;
    margin-right: 0;
  }

  .aboutUsText {
    width: 90%;
  }

  .aboutUsText h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .aboutUsText p {
    font-size: 12px;
    line-height: 1.6;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .aboutUsText {
    width: 70%;
    text-align: center;
  }

  .aboutUsText h1 {
    font-size: 22px;
  }

  .aboutUsText p {
    font-size: 17px;
  }
}