.home {
  position: relative;
  height: 50vw;
}

.mainHomeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vw;
}

.mainHomeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainHeader {
  font-size: 100px;
  padding: 16% 0 0 33%;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  display: flex;
}