.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-top: 160px;
  width: 80%;
  margin-left: 240px;
}

.footerWrapper {
  height: 18vw;
  background-color: rgb(214, 209, 209);
}

.footerLabel {
  margin: 0 auto;
  width: 240px;
}

.footerInfo,
.footerWorkingHours {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.footerInfo p {
  font-size: 25px;
  margin-bottom: 20px;
}

.footerWorkingHours {
  margin-top: 20px;
}

.rightsReserver {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: rgb(214, 209, 209);
}

.mapLocation {
  width: 500px;
  height: 300px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .mapLocation {
    width: auto;
  }

  .footerWrapper {
    height: auto;
  }

  .footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .footerInfo {
    line-height: 18px;
    margin: 20px 0;
  }

  .footerInfo p {
    margin: 15px 0;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .mapLocation {
    width: auto;
  }

  .footer {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
  }

  .footerWrapper {
    height: 18vw;
  }

  .footerLabel {
    margin-top: 50px;
  }

  .footerInfo {
    line-height: 16px;
  }

  .footerInfo p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .rightsReserver {
    padding-top: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1900px) {
  .footerWrapper {
    height: auto;
  }

  .footer {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .location {
    margin: 0 auto;
  }

  .mapLocation {
    max-width: 300px;
    max-height: 200px;
  }
}