.sectionWrapper {
  width: 60%;
  height: 25vw;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 120px;
  padding: 60px 0;
}

.sectionContainer {
  text-align: center;
}

.sectionTitle {
  font-size: 30px;
  padding-top: 10px;
}

.sectionDescribtion {
  line-height: 26px;
  letter-spacing: 1px;
  word-spacing: .5px;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .sectionWrapper {
    height: auto;
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .sectionDescribtion {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .sectionWrapper {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: auto;
    margin: 24px;
  }

  .sectionTitle {
    font-size: 20px;
  }

  .sectionDescribtion {
    text-align: inherit;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 993px) {

  .sectionWrapper {
    height: auto;
    grid-template-columns: repeat(3, 210px);
    gap: 40px;
  }
}

@media (min-width: 994px) and (max-width: 1800px) {

  .sectionWrapper {
    height: auto;
    grid-template-columns: repeat(3, 290px);
    width: auto;
    gap: 40px;
  }

  .sectionTitle {
    font-size: 20px;
  }

  .sectionDescribtion {
    font-size: 16px;
  }
}