.navBarAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.navBarWrapper {
  height: 64px;
}

.navBarUl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBarLi {
  list-style: none;
  padding: 21px 17px 19px 18px;
}

.navBarLi a {
  font-size: 20px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: #040404;
}

.navBarLi a:hover {
  color: #292f32;
  border-bottom: 1px solid #292f32;
}

.navBarIcons {
  margin-right: 10px;
}