.itemDetailsWrapper {
  height: 50vw;
  background-color: #efedea;
}

.itemDetailsContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.itemDetailsHeadline {
  margin-top: 58px;
}

.itemImage {
  width: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage img {
  height: 90%;
}

.itemProductName {
  font-size: 30px;
  padding: 10px 0;
}

.itemProductPrice {
  font-size: 16px;
}

.itemProductDescription {
  width: 500px;
  font-size: 20px;
  padding: 30px 0;
}

.productDetailsAddButton {
  margin-top: 20px;
}

.productDetailsQuantityButton {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.itemDetailsRightContainer {
  width: 50%;
}