.homeWrapper {
  height: 50vw;
  position: relative;
}

.homeBanner {
  position: absolute;
  width: 100%;
  display: flex;
}

.mainHomeImage {
  width: 100%;
  height: 100%;
  background-image: url("../../../public/images/mainI.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(1px);
}

.mainHeader {
  font-size: 100px;
  padding: 16% 0 0 26%;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .homeWrapper {
    height: 100vw;
  }

  .mainHomeImage {
    height: 100vw;
    width: 100%;
    background-position-y: center;
  }

  .mainHeader h1 {
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  .mainHomeImage {
    height: 100vw;
    width: 100%;
    background-position-y: center;
  }

  .mainHeader h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1800px) {
  .mainHeader {
    font-size: 20px;
  }
}