.itemDetailsWrapper {
  height: 50vw;
  background-color: #efedea;
}

.itemDetailsContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
}

.itemImage {
  width: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage img {
  height: 90%;
}

.itemProductName {
  font-size: 30px;
  padding: 10px 0;
}

.itemProductPrice {
  font-size: 16px;
}

.coffeeType {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 20px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.weight {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.coffeeBeansLabel,
.coffeeWeightLabel {
  padding-bottom: 15px;
}

.coffeeBeans,
.coffeeWeight {
  width: 160px;
  text-align: left;
  border: none;
}

.productDetailsAddButton {
  margin-top: 20px;
}

.productDetailsQuantityButton {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.itemDetailsRightContainer {
  width: 50%;
}