.itemDetailsWrapper {
  height: 50vw;
}

.itemDetailsContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
}

.itemImage {
  width: 440px;
  height: 380px;
  margin-right: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage img {
  height: 90%;
}

.itemProductName {
  font-size: 20px;
  padding: 10px 0;
}

.itemProductPrice {
  font-size: 16px;
}

.coffeeType {
  margin: 30px 0;
}

.coffeeBeansLabel,
.coffeeWeightLabel {
  margin-right: 20px;
  width: 100px;
}

.coffeeBeans,
.coffeeWeight {
  width: 160px;
  text-align: left;
  border: none;
}

.productDetailsAddButton {
  margin-top: 20px;
}