.SortButton {
  position: relative;
}

.SortButton select {
  background-color: #1a1919;
  color: #fff;
  height: 30px;
  cursor: pointer;
}

.SortButton option {
  background-color: #fff;
  color: black;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}