.navBarAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.navBarUl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBarLi {
  list-style: none;
  padding: 21px 17px 19px 18px;
}

.navBarLi a {
  font-size: 20px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: #000;
}

.navBarLi a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.navBarAbsolute .navBarLi a {
  color: #fff;
}

.navBarAbsolute .navBarLi a:hover {
  color: #efedea;
  border-bottom: 1px solid #efedea;
}

.navBarIcons {
  margin-right: 10px;
}

.myPageButton {
  border: none;
  text-decoration: none;
  padding: 15px;
  background-color: transparent;
}

@media (min-width: 577px) and (max-width: 768px) {
  .navBarLi {
    padding: 5px;
  }

  .navBarLi a {
    font-size: 15px;
  }

  .iconNavBarUl li {
    padding: 5px;
  }

}